{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier",
        "stylelint-config-css-modules"
    ],
    "rules": {
        "selector-pseudo-element-colon-notation" : "single"
    }
}
