$linkColor: #42b549;
$linkColorHover: #ff5722;

@font-face {
    font-family: "Noto Sans";
    src: url("./NotoSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./NotoSans-Regular.ttf");
    font-weight: normal;
}